# Default ignored files
/shelf/
/workspace.xml
/.gradle
/gradle
/.idea
/build.gradle
/gradlew
/gradlew.bat
# Datasource local storage ignored files
/../../../../../../../:\Users\River\Documents\17514\Recitation10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
